/*  GENERAL SETTINGS  */

html, body{
    margin:0;
    padding:0;
    font-family: 'Red Hat Text', sans-serif;
    color:black;
    overflow-x: hidden;
}


.collapse {
    visibility: hidden;
}
  .collapse.show {
    visibility: visible;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}


/*  EDIT BACKGROUND PART  */

.bg-nav{
    background:#0c1f2e; 
}

.bg-copyright{
    background:#0a151d;
    background-size:200% 20px;
    background-position:cover;
}

.main-part .hotpoints-area div div .input-group-text{
    background:#efefef;
}

/*  EDIT TEXT and IMG MAIN PART  */

.nav-btn-menu button i{
    color:#f1f1f1;
    font-size:24px; 
    font-weight: 900;
    
}
.nav-btn-menu button i:hover{
    transition:.2s;
    color:#f98100;   
}
.nav-btn-menu button i:active{
    animation: gira .5s linear infinite;
}
@keyframes gira {
    to {
        transform: rotate(360deg);
    }
}

#sidebar{
    position: fixed;
    width:300px;
    height:100%;
    z-index:999;
    top:80px;
    background:#07111a;
    overflow-y:auto;
}
#sidebar ul{
    width:100%;
}
#sidebar ul li{
    list-style:none;
    border-bottom:1px solid rgba(126, 126, 126, 0.3);
    padding:15px 10px;
    position: relative;
    right:30px;
}
#sidebar ul li a{
    text-decoration:none;
    color:#f1f1f1;
}

.user-nav-part div img{
    border-radius:50%;
    width:80px;
    cursor: pointer;
}
.user-nav-part div img:hover{
    opacity:.8;
}
.user-nav-part div h4{
    color:#f1f1f1;
    font-size:18px;
}
.user-nav-part div p a{
    color:#f1f1f1;
    font-size:13px;
}
.user-nav-part div p a:hover{
    color:#c2c2c2;
}
.user-nav-part div .exit-edit{
    color:#f1f1f1;
    font-size:16px;
}
.user-nav-part div .exit-edit:hover{
    color:#f98100;
    transition:.2s;
}

.main-part .hotpoints-area div div div span img{
    user-select:none;
    pointer-events:none;
}
.main-part .hotpoints-area div .input-group{
    max-width:200px;
    width:auto;
}
.main-part .hotpoints-area div div .show-points p{
    color:#2e2e2e;
}
.get-hps-text button{
    background:#f98100;
    border:#f98100;
}
.get-hps-text button:hover{
    background:#ca5e25;
}
.get-hps-text button:focus, .get-hps-text button:active{
    box-shadow:0 0 0 0.2rem rgba(248, 133, 1, 0.63);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background:#ca5e25;
}
.get-cards-edit div img{
    user-select:none;
    pointer-events:none;
}

.share-link-text p{
    color:#777777;
}
.share-area .share-now h2{
    font-weight:600;
    color:#777777;
    letter-spacing:2px;
}
.share-area .share-ico i{
    font-size:120px;
    color: #444444;
    user-select:none;
    pointer-events:none;
}
.share-area .share-ico i:hover{
    color:#f98100;
}
.form-control[readonly]{
    background:#f7f7f7;
}
.share-area .share-link div button i{
    font-size:19px;
}
.share-area .share-link div button:hover{
    background: #f98100;
    border:1px solid #f98100;
}

.bg-copyright div{
    font-size:12px;
}
.bg-copyright div p{
    color:#fff;
}
.bg-copyright div p a{
    color:#c9c9c9;
}
.bg-copyright div p a:hover{
    transition-duration:.3s;
    text-decoration:none;
    color:#f98100;
}


/*  EDIT POSITIONS  */

.edit-nav{
    height:80px;
    position:fixed;
    top:0;
    z-index:99;
    width:100%;
}

.user-nav-part div h4{
    margin-top:20px;
}
.user-nav-part div .exit-edit{
    margin-top:5px;
}

#sidebar ul li a i{
    margin-right:6px;
}

#sidebar ul .ch1 a:hover, #sidebar ul .ch2 a:hover, #sidebar ul .ch3 a:hover, #sidebar ul .ch4 a:hover, #sidebar ul .ch5 a:hover{
    color:#f98100;
    margin-left:8px;
    transition:.2s;
}

.user-nav-part{
    margin-top:20px;
}

.main-part .hotpoints-area{
    margin-top:120px;
}
.main-part .get-cards-edit{
    margin-top:100px;
}

.share-area{
    margin-top:90px;    
}
.share-link-text{
    margin-top:80px;
}
.share-area .share-ico{
    margin-top:40px;
}

.edit-footer-part{
    margin-left:20px;
}

.edit-share-btn{
    padding-top:20px;
    padding-bottom:50px;
    z-index:-1;
    bottom:30px;
}



